{% extends 'base.html' %}

{% load static %}

{% block title %}INCIDENCIAS | {{ block.super }}{% endblock %}

{% block content_header %}
<div class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="row">
        <div class="col-auto">
            <a href="{% url 'IncidenciasApp:api/inc_add' %}" class="btn btn-sm btn-dark mr-1 mt-1 btn-block"><i class="fas fa-user"></i> INCIDENCIAS</a>
        </div>
        <div class="col-auto">
            <a href="{% url 'IncidenciasApp:reporte' %}" class="btn btn-sm btn-dark mr-1 mt-1 btn-block"><i class="fas fa-chart-bar"></i> REPORTES</a>
        </div>
    </div>
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'IncidenciasApp:api/dash' %}">Escritorio</a></li>
        <li class="breadcrumb-item active">Personal</li>
    </ol>
</div>
{% endblock %}

{% block content %}

    <!--  MENSAJE PERSONALIZADOS -->
    {% include 'escritorio/message.html' %}

    <!--  ******  AGREGAR NUEVOS USUARIOS **********-->
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <form method="post" enctype="multipart/form-data"> <!--  enctype="multipart/form-data" para manejar la carga de archivos -->
                {% csrf_token %}
                    <!-- INCLUSION DE PARTE DE FORMULARIO PARA DATOS GENERALES  -->
                    {% include 'formulario/datosinc.html' %}
            </form>
        </div>
    </div>

    <!--  ******  LISTADO DE DIRECCIONES  **********-->
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header" style="background-color: #1605C7; color: #FFFFFF;">
                    <div class="card-tools">
                    <!-- This will cause the card to maximize when clicked -->
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i
                            class="fas fa-expand"></i></button>
                    <!-- This will cause the card to collapse when clicked -->
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                            class="fas fa-minus"></i></button>
                    <!-- This will cause the card to be removed when clicked -->
                    </div>
                    <!-- /.card-tools -->
                    <h4 class="card-title">LISTA DE INCIDENCIAS ACTIVO</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-sm table-striped table-hover table-bordered shadow-lg dt-responsive nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre Distrito :</th>
                                        <th scope="col">Direccion :</th>
                                        <th scope="col">Categoria :</th>
                                        <th scope="col">Descripcion :</th>
                                        <th scope="col">Reportado Por :</th>
                                        <th scope="col">Fecha :</th>
                                        <th scope="col">Hora :</th>
                                        <th scope="col">Acciones Tomadas :</th>
                                        <th scope="col">Foto :</th>
                                        <th scope="col">ACCION</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    {% for incidencia in incidencias %}
                                    <tr id="incidencia-{{ incidencia.PR_IN_IDPK_Inc}}">
                                        <td>{{ incidencia.PR_CH_Nombre_Dis      }} </td>
                                        <td>{{ incidencia.PR_CH_direccion       }} </td>
                                        <td>{{ incidencia.PR_CH_categoria       }} </td>
                                        <td>{{ incidencia.PR_TE_descripcion     }} </td>
                                        <td>{{ incidencia.PR_CH_reportado_por   }} </td>
                                        <td>{{ incidencia.PR_DA_fecha }} </td>
                                        <td>{{ incidencia.PR_TI_hora            }} </td>
                                        <td>{{ incidencia.PR_TE_acciones_tomadas}} </td>
                                        <td>
                                            {% if incidencia.PR_IM_foto %}
                                                <a href="#" data-toggle="modal" data-target="#fotoModal" data-foto-url="{{ incidencia.PR_IM_foto.url }}">
                                                    <img src="{{ incidencia.PR_IM_foto.url }}" alt="Foto de {{ incidencia.PR_CH_direccion }}" style="width: 100px; height: auto;">
                                                </a>
                                            {% else %}
                                                No hay imagen
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-sm dropdown-toggle text-dark bg-light" type="button" id="dropdownMenuButton"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <!-- Ícono de hamburguesa con clase personalizada -->
                                                    <i class="fas fa-bars custom-icon"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#" onclick="loadAndUpdate('{{ incidencia.PR_IN_IDPK_Inc }}')">
                                                        <i class="fas fa-sync-alt"></i> Actualizar
                                                    </a>
                                                    <a class="dropdown-item" href="#" onclick="confirmDelete('{{ incidencia.PR_IN_IDPK_Inc }}')">
                                                        <i class="fas fa-trash-alt"></i> Borrar
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody> 
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Modal para mostrar la imagen grande -->
<div class="modal fade" id="fotoModal" tabindex="-1" aria-labelledby="fotoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fotoModalLabel">Foto de Incidencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img id="fotoModalImage" src="" alt="Foto de Incidencia" style="width: 100%; height: auto;">
                <p id="fotoModalError" class="text-danger" style="display:none;">Error al cargar la imagen.</p>
            </div>
        </div>
    </div>
</div>


    <!-- MODAL ACTUALIZAR DATOS DIRECCIONES  -->
    {% include 'editar/incidencia.html'%}
    
    <script>
        function confirmDelete(inc_id) {
            Swal.fire({
                title: '¿Estás seguro?',
                text: '¿Estás seguro de que deseas eliminar este registro?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch("{% url 'IncidenciasApp:api/inc_del' inc_id=0 %}".replace('0', inc_id), {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error al eliminar la incidencia del sistema');
                        }
                        Swal.fire({
                            title: 'Eliminación exitosa',
                            icon: 'success',
                            timer: 5000
                        });
                        window.location.reload();
                    })
                    .catch(error => {
                        Swal.fire({
                            title: 'Error al eliminar',
                            text: error.message,
                            icon: 'error'
                        });
                    });
                }
            });
        }
        
        function loadAndUpdate(id_inc) {
            fetch(`/IncidenciasApp/api/inc_detail/${id_inc}/`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error al obtener los datos de la Incidencia');
                    }
                    return response.json();
                })
                .then(data => {
                    document.getElementById('distritoinc').value = data.PR_CH_Nombre_Dis;
                    document.getElementById('direccioninc').value = data.PR_CH_direccion;
                    document.getElementById('categoriainc').value = data.PR_CH_categoria;
                    document.getElementById('descripcioninc').value = data.PR_TE_descripcion;
                    document.getElementById('reportadoinc').value = data.PR_CH_reportado_por;
                    document.getElementById('fechainc').value = data.PR_DA_fecha;
                    document.getElementById('horainc').value = data.PR_TI_hora;
                    document.getElementById('fotoinc').value = data.PR_IM_foto;
                    document.getElementById('acciontomadainc').value = data.PR_TE_acciones_tomadas;
                    
                    // Mostrar el modal de edición
                    $('#editarModal').modal('show');

                    // Configurar el action del formulario de edición
                    var form = document.getElementById('editarForm');
                    form.action = `/IncidenciasApp/api/inc_update/${id_inc}/`;
                })
                .catch(error => {
                    console.error('Error al obtener los datos de la incidencia:', error);
                });
        }
    </script>
    

    {% endblock %}
