{% extends 'base.html' %}

{% load static %}

{% block title %}HOME | {{ block.super }}{% endblock %}

{% block content_header %}
<div class="d-flex flex-wrap justify-content-end align-items-center">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Escritorio</li>
      </ol>
  </div>
{% endblock %}

{% block content %}

<main>
    
  <div class="container-fluid px-4">
      
      <div class="text-center mb-4">
        <img src="{% static 'assets/dist/img/portada.png' %}" alt="Descripción de la imagen" class="img-fluid" style="color: blue;">
    </div>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">PROYECTO OBSERVATORIO REGISTRO DE INCIDENCIAS</li>
  </ol>
      
      <li>Guerrero Herrera Alfredo</li>
      
</main>


{% endblock %}
